@font-face {
  font-family: titulos;
  src: url(../fonts/Humbolt.ttf);
}

@font-face {
  font-family: subtitulos;
  src: url(../fonts/SedgwickAve-Regular.ttf);
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
}



/************************************ HERO ************************************/


.hero-image {
  background-image: url(../images/meteo-hero.jpg);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#abraham{
  font-family: titulos;
}

.hero-text {
  background-color: rgb(252, 251, 255, 0.25);
  font-size: 4rem;
  width: 30%;
  text-align: center;
  position: absolute;
  /* el titulo se fija DENTRO del hero */
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  color: azure;
 
}





/************************************ TEXTO INTRODUCTORIO ************************************/

header {
  background-color: black;
  padding-top: 1%;
  padding-bottom: 3%;
}

#title {
  text-align: center;
  font-size: 45px;
}

#text {
  text-align: justify;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 17px;
}

#web{
  background-color: #fa0b0b;
  padding: 0.5%;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  margin-left: 45%;

}


#red{width: 100%;}



/************************************ COLUMNAS ************************************/

.colum {
  float: left;
  width: 31.33%;
  background-color: rgb(0, 0, 0);
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  height: 100%;
  text-align: center;
}

#box {
  width: 100%;
  height: 700px;
}

#album{
  width: 45%;
}


/************************************ ESTILOS GENERALES ************************************/

p {
  color: white;
  font-size: 17px;
}

a {
  color: white;
  font-size: 20px;
}

h1 {
  color: red;
  font-size: 45px;
  text-align: center;
  font-family: subtitulos;
}

h2 {
  color: red;
  font-family: subtitulos;
}

ul,
ol {
  color: white;
  text-align: left;
}


/************************************ FOOTER ************************************/


footer {
  background-color: black;
  width: 100%;
  clear: both;
  height: 100px;
  text-align: center;
}

/************************************ AJUSTES DE TAMAÑO ************************************/


@media only screen and (max-width: 768px) {

  .hero-text {
    position: relative;
    padding-right: 15%;
    padding-left: 7%;

  }

  #abraham {
    font-size: 60px;
  }

  #web{
    background-color: #fa0b0b;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    margin-left: 45%;
  }

  .colum {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: block;
  }

}

@media only screen and (min-width: 768px) {
  .colum {
    float: left;
    width: 31.33%;
    padding-left: 1%;
    padding-right: 1%;
  }


}